@font-face{
	font-family: 'QuicksandBold-Regular';
	src:url(../fonts/QuicksandBold-Regular.otf);
}
@font-face{
	font-family: 'quicksand.book-regular';
	src:url(../fonts/quicksand.book-regular.otf);
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'QuicksandBold-Regular',sans-serif;
}
header{
	background-image: url(../images/bcg.jpg);
	background-size: cover;
	max-height: 100vh;
	min-height: 420px;
	position: relative;
	background-position: 50% 50%;
}
.header-top{
	padding-top: 40px;
	max-width: 1184px;
	margin:0 auto;

}
.header-top-logo{
	display: inline-block;
}
.header-top-logo img{
	padding-left: 14px;
}
.header-top-nav{
	display: inline-block;
	float:right;
}
.header-top-nav ul{
	padding-right: 19px;
	padding-top: 6px;
}
.header-top-nav ul li{
	display: inline-block;
}
.header-top-nav ul li a{
	text-decoration: none;
	font-size: 18px;
	color:white;
	padding-left: 50px;
}
.header-top-nav::after{
	content:'';
	clear:both;
}
li img{
	padding-top: 4px;
}
/*header-tex*/
.header-text{
	max-width: 1184px;
	margin:0 auto;
	text-align: center;
	color:white;
	padding-top: 214px;
}
.header-text h1{
	font-size: 60px;
}
.header-text p{
	font-size: 20px;
	font-family: 'quicksand.book-regular',sans-serif;
	padding-bottom: 347px;
	padding-top: 10px;	
	font-weight: 100;
}
.header-text a::before{
	content: '';
	display: inline-block;
	width: 17px;
	height: 17px;
	transform: rotate(45deg);
	position: absolute;
	border-right:8px solid white;
	border-bottom:8px solid white;
	bottom:50px;
}
/*trekking*/
.trekking-wrapper{
	background-color: #f5f6f7;
	min-height: 143px;
	color:black;
	text-transform: uppercase;
}
.trekking{
	max-width: 1184px;
}
.checkbox{
	display: inline-block;
	padding-top: 62px;
	padding-left: 14.5%;
}
label{
	position: relative;
	font-size: 18px;
	padding-right: 77px;
}
.checkbox [type="checkbox"]{
	display: none;
}
.checkbox label::before {
	content:'';
	display:block;
	height:21px;
	width:21px;
	border:2px solid #cccccc;
	border-radius: 2px;
	position:absolute;
	top:-2px;
	left:-42px;
}
.checkbox input[type=checkbox]:checked + label:before {
    content: "";
	background-image: url(../images/check.png);
	background-repeat:no-repeat;
	height:21px;
	width:21px;
	border:2px solid #ab9c79;
	border-radius: 2px;
	color: #ab9c79;
	background-position:center center;
}
.submit{
	padding: 18px 33px;
	background-color: #aa9b77;
	color:white;
	border:none;
	border-radius: 3px;
	font-size: 14px;
	float: right;
	margin-top: 46px;
	text-transform: uppercase;
	margin-right: -34px;
}
.trekking::after{
	content:'';
	clear:both;
}
/*products*/
.sprite{
	width: 11px;
	height: 14px;
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	display: inline-block;
	margin-top: 5px;
}
.right{
	background-position: -17px 0px;
}
.products{
	max-width: 1184px;
	margin:0 auto;
}
.products-size{
	height: 15%;
	position: relative;
}
.circle{
	width: 21px;
	height: 21px;
	display: inline-block;
	border-radius: 50%;
}
.blue{
	background-color: #165eb9;
}
.yellow{
	background-color: #ffe637;
}
.black{
	background-color: #535253;
}
.pink{
	background-color: #d3a7ac;
}
.products-size span{
	max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    text-transform: uppercase;
    line-height: 40px;
    padding-top: 50px;
}
.products-size span:not(.backpack)::after{
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	background: transparent;
	border-right:2px solid black;
	border-bottom:2px solid black;
	transform:rotate(45deg);
	margin-left: 20px;
}
.products-size ul{
	display: inline-block;
	float:right;
	padding-right: 15px;
	padding-top: 15px;
}
.products-size ul::after{
	content:'';
	clear:both;
	display: inline-block;
}
.products-size ul li{
	list-style: none;
	display: inline-block;
}
.products-size span:hover{
	cursor:pointer;
}
#ul{
	display: none;
	position: absolute;
	left:5px;
}
#ul li{
	display:block;
	padding: 9px;	
	border: 2px solid #aa9b77;
	border-radius: 3px;
	margin-top: -2px;
	text-align: center;	
}
#ul li a{
	text-decoration: none;
	color:black;		
}
#ul li:hover{
	background-color: #aa9b77;
}
.products-img{
	height: 70%;
	text-align: center;
	line-height: 250px;
}
.products-price{
	height: 15%;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
}
.products-price span:first-child{
	color: #aa9b77;
	padding-left: 18px;
	font-size: 18px;
	padding-top: 15px;
	float:left;
}
.products-price span:last-child{
	color: #424242;
	float:right;
	padding-right: 19px;
	font-size: 22px;
	padding-top: 11px;
}
.products-price span:last-child:after{
	content: '';
	clear:both;
	display: block;
}
.products-img img{
	max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    vertical-align: middle;
}
.products-men-box,
.products-women-box,
.products-child-box{
	position: relative;
}
.men-pages,
.child-pages{
	position: absolute;
	color: #aa9b77;
	letter-spacing: 5px;
	right:3.6%;
	top:43px;
}
.men-pages a,
.women-pages a,
.child-pages{
	color: #aa9b77;
	text-decoration: none;
}
.women-pages{
	position: absolute;
	color: #aa9b77;
	letter-spacing: 5px;
	left:4.5%;
	top:47px;
}
.products-men h2,
.products-child h2{
	text-transform: uppercase;
	padding-top: 82px;
	font-size: 20px;
	position: relative;
	padding-left: 4%;
	color: #424242;	
}
.products-men h2::before{
	content: '';
	background-color: #cccccc;
	position: absolute;
	width: 84.1%;
	height: 2px;
	left:11.9%;
	bottom:9px;
}
.products-women h2{
	text-transform: uppercase;
	padding-top: 94px;
	text-align: right;
	position:relative;
	font-size: 20px;
	padding-right: 44px;
	top:-5px;	
	color: #424242;
}
.products-women h2::before{
	content: '';
	background-color: #cccccc;
	position: absolute;
	width: 84.1%;
	height: 2px;
	right:11.2%;
	bottom:11px;
}
.products-women-box
{
	padding-top: 104px;
	padding-bottom: 131px;	
}
.products-child-box{
	padding-top: 115px;
	padding-bottom: 133px;
}
.products-child h2{
	text-transform: uppercase;
	padding-top: 94px;
	position: relative;
}
.products-child h2::before{
	content: '';
	background-color: #cccccc;
	position: absolute;
	width: 84.1%;
	height: 2px;
	left:14%;
	bottom:9px;
}
.products-men-box{
	padding-top: 94px;
}
.products-men-box::after,
.products-women-box::after,
.products-child-box::after
{
	content: '';
	clear: both;
	display: block;
}
.box-all{
	width: 27%;
	height: 378px;
	min-height:300px;
	background-color: #f5f6f7;
	margin-left: 48px;
	border:6px solid transparent;
	margin-right: 16px;
}
.box-all:hover{
	border:6px solid #aa9b77;
	border-radius:6px;
}
/*about-us*/
.about-us{
	background-color: #aa9b77;	
}
.about-us-content{
	max-width: 1184px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
.about-us-content h2{
	display: inline-block;
	position: absolute;
	color:#837659;
	font-size: 20px;	
	background-color: #aa9b77;	
	top:66px;
	left:50%;
	text-transform: uppercase;
	padding-right: 13px;
	padding-left: 13px;
	transform: translateX(-50%);
}
.about-us-content p{
	display: inline-block;
	color: #424242;
	background-color: #aa9b77;	
	margin-bottom: 70px;
	margin-top: 77px;
	border:2px solid #918363;
	padding:83px 120px 71px 120px;
	line-height: 1.5em;
	letter-spacing: 
}
/*footer*/
footer{
	background-color: #424242;
	color:white;
}
.footer-top{
	background-color: #535253;
	font-family: 'quicksand.book-regular',sans-serif;
}
.footer-top-content{
	max-width: 1184px;
	margin:0 auto;
	padding-top: 25px;
	padding-bottom: 19px;
}
.footer-top-content img{
	padding-left: 15px;
}
.footer-top-content span{
	padding-left: 15px;
	vertical-align: top;	
}
.footer-bottom{
	background: #424242;
}
.footer-text{
	display: inline-block;
	padding-top: 104px;
	text-transform: uppercase;
	padding-left: 98px;
}
.footer-text p{
	font-size: 10px;
	padding-top: 14px;
	line-height: 2em;
	padding-bottom: 120px;
}
.footer-text h2{
	font-size: 20px;
}
.footer-menu{
	display: inline-block;
	float: right;
	padding-right: 105px;
	padding-top: 151px;
}
.footer-menu ul li{
	display: inline-block;
}
.footer-menu ul li a{
	text-decoration: none;
	color:white;
	position: relative;
	padding-left: 7px;
	text-transform: uppercase;
	font-size: 14px;
}
.footer-menu ul li a::before{
	content: '';
	display: inline-block;
	height: 13px;
	width: 1px;
	background-color: white;
	position: absolute;
	top:2px;
	left:3px;
	font-size: 14px;		
}
.footer-menu ul li:first-child a::before{
	display: none;
}
.footer-menu p{
	font-size: 18px;
	text-align: right;
	padding-top: 9px;
}
.footer-menu::after{
	content: '';
	clear: both;
	display: block;	
}
.footer-bottom::after{
	display: block;
	content: '';
	clear:both;
}
/*media*/
@media screen and (max-height:580px){
	.header-text{
	padding-top: 20px;
}
}
@media screen and (max-width:1250px){
	.submit{
	margin-right: 15px;
	padding: 18px 23px;
}
	.products-price span:first-child{
		font-size: 13px;
	}
	.products-price span:last-child{
		font-size: 18px;
	}
}
@media screen and (max-width:1050px){
	.products-women h2::before{
		width: 70%;
		right:30%;
	}
	.products-men h2::before{
		width: 70%;
		left:30%;
	}
	.products-child h2::before{
		width: 40%;
		left:50%;
	}
}
@media screen and (max-width:800px){
	label{
		display: block;
		padding-bottom: 15px;
	}
	.checkbox label::before {
	content:'';
	display:block;
	height:21px;
	width:21px;
	border:2px solid #cccccc;
	border-radius: 2px;
	position:absolute;
	bottom:15px;
	left:-42px;
	}
	.box-all{
		margin-left: 30px;
		margin-right: 30px;
	}
	.footer-menu{
		float:none;
		padding-left: 68px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.footer-text p{
		padding-bottom: 10px;
	}
}
@media screen and (max-width:450px){
	.header-text h1{
		font-size: 25px;
	}
	.header-top-nav ul li a{
	text-decoration: none;
	font-size: 14px;
	color:white;
	padding-left: 10px;
}
	.submit{
		padding:25px 4px;
		margin-right: 5px;
		margin-bottom: 50px;
	}
	label{
		padding-right: 30px;
}
	.footer-top{
		font-size: 12px;
	}
		.products-women h2::before{
		width: 50%;
		left:0;
	}
	#ul li{
	padding: 4px;	
	margin-top: -2px;
}
.size{
	margin-top: 10px;
}
.footer-menu ul li{
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer-menu ul li:first-child a::before{
	display: block;
}
.footer-text{
	padding-left: 30px;
	padding-right: 30px;
}
}
