@keyframes down {
from {bottom: 40px;}
30% {bottom: 18px;}
80% {bottom: 50px;}
to {bottom: 40px;}
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.block-title{
	margin-top: 70px;
}
.slick-dots{
	bottom: -100px;
}
/* header start */
.header{
	position: relative;
	height: 100vh;
	min-height: 700px;
	overflow: hidden;
}
/* ----------mobile-navigation--------------- */
.burger-menu{
	width: 20px;
	height: 20px;
	display: none;
	cursor: pointer;
}
.mobile-nav{
	width: 240px;
	height: 100vh;
	min-height: 400px;
	position: absolute;
	top:0;
	left:-240px;
	background-color: #323232;
	transition: 1s;
	padding: 25px 20px;
	overflow: hidden;
}
.cancel{
	float: right;
	width: 20px;
	height: 20px;
}
.mobile-nav__list{
	margin-bottom: 25px;
	list-style: none;
}
.mobile-nav__list:last-child .mobile-nav__link, .mobile-nav__list:nth-child(4) .mobile-nav__link{
	color: #4d4d4d;
}
.mobile-nav__item{
	margin: 5px 0;	
}
.mobile-nav__link{
	text-decoration: none;
	font-size: 12px;	
	transition: .3s;
	color: white;
}
.mobile-nav__link:hover{
	color: #aa8c67;
}
/* --------header-top---------- */
.header-top{
	max-width: 1200px;
	margin:0 auto;
	height: 110px;
	line-height: 110px;
	border-bottom: 1px solid rgba(255,255,255,.5);
	z-index: 2;
	overflow: hidden;
}
.header__logo{
	color: white;
	font-size: 26px;
	font-weight: normal;
	cursor: pointer;
	text-decoration: none;
}
nav{
	float: right;
	display: inline-block;
}
.nav__list{
	list-style: none;
}
.nav__item{
	display: inline-block;
}
.nav__link{
	text-decoration: none;
	color: white;
	margin: 0 12px;
	font-size: 12px;
	transition: .3s;
	cursor: pointer;
}
.nav__link:hover{
	color: #aa8c67;
}
.header-top__button{
	float: right;
	padding: 13px 25px;
	color: white;
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: #7dac3f;
	cursor: pointer;
	transition: .3s;
	margin-top: 35px;
	margin-left: 40px;
	line-height: normal;
}
.header-top__button:hover{
	background-color: #aa8c67;
}
.header__video{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left:0;
	overflow: hidden;
	z-index: -1;
	text-align: center;
	background-color: lightgray;
}
video{
	width: 100%;
	height: auto;
	z-index: -1;
}
.video__line-left{
	width: 50%;
	height: 30px;
	background-color: white;
	position: absolute;
	bottom: 0;
	left: -30px;
	border-top-right-radius: 11px;
}
.video__line-right{
	width: 50%;
	height: 30px;
	background-color: white;
	position: absolute;
	bottom: 0;
	right: -30px;
	border-top-left-radius: 11px;
	z-index: -1;
}
.video__figure{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -18px;
	border-radius: 50%;
	padding: 48px;	
	border: 30px solid transparent;
	border-bottom:30px solid white;
}
.down-button{
	position: absolute;
	left: 50%;
	color: white;
	bottom: 40px;
	font-size: 25px;
	transform:translateX(-50%);
	cursor: pointer;
	animation: down  2s infinite linear;
}
/* ---------------header-bottom---------------------- */
.header-bottom{
	text-align: center;
	color: white;
	padding: 0 10px;
}
.header-bottom__title{	
	font-weight: lighter;
	margin-top: 135px;
}
.header-bottom__text{
	font-weight: light;
	font-size: 14px;
	margin-top: 30px;
}
.header-bottom__input{
	outline: none;
	height: 55px;
	width: 400px;
	padding: 0 45px;
	margin-top: 70px;
	text-align: left;
	border: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px; 
	background-image: url('../images/marker.svg');
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 30px;
}
.header-bottom__button{
	background-color: #aa8c67;
	height: 55px;
	padding: 0 65px;
	margin-top: 70px;
	border: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px; 
	transition: .3s;
	color: white;
	outline: none;
	margin-left: -5px;
	cursor: pointer;
	transition: .3s;
}
.header-bottom__button:hover{
	background-color: #7dac3f;
}
.header-bottom__button-sm{
	display: none;
}
/* ----advantages---- */
.advantages{
	max-width: 1200px;
	margin:0 auto;
	overflow: hidden;
	text-align: center;
}
.advantages-block{
	display: inline-block;
	margin: 120px 40px 80px;
	padding: 5px;
	width: 250px;
	vertical-align: top;
}
.advantages-block__img{
	width: 150px;
	height: 150px;
	display: inline-block;
	background-image: url(../images/border.svg);
	line-height: 150px;
}
.advantages-block__img img{
	width: 60px;
	position: relative;
	vertical-align: middle;
}
.advantages-block h3{
	margin-top: 75px;
	font-style: 18px;
}
.advantages-block p{
	margin-top: 20px;
	color: #6e6e6e;
	font-size: 14px;
}

/* ------plan------ */

.plan{
	background-color: #f5f5f5;
	width: 100%;
}
.plan__inner{
	max-width: 1200px;
	margin:0 auto;
	text-align: center;
	padding-bottom: 1px;	
	padding-top: 1px;
}
.plan-block{
	background-color: #fff;
	border-radius: 5px;
	display: inline-block;
	width: 290px;
	height: 300px;
	margin: 60px 10px 0;
	padding: 45px 40px;
	vertical-align: top;
	overflow-y: auto;
}
.plan-block img{
	width: 60px;
	position: relative;
}
.plan-block__text h3{
	margin-top: 35px;
	font-size: 18px;
}
.plan-block__text p{
	margin-top: 20px;
	font-size: 14px;
}
.plan__button{
	display: block;
	margin: 0 auto;
	width: 280px;
	outline: none;
	color: white;
	border-radius: 5px;
	background-color: #7dac3f;
	margin-top: 65px;
	margin-bottom: 100px;
	padding: 20px 0;
	transition: .3s;
	cursor: pointer;
}
.plan__button:hover{
	background-color: #aa8c67;
}

/* --------comments---------*/
.comments{
	max-width: 1200px;
	margin:0 auto;
	overflow: hidden;
	text-align: center;
	padding-bottom: 120px;
}

.comments-carousel__item{
	margin-top: 80px;
	padding: 0 15px;
	text-align: left;
	outline: none;
}
.comments-carousel__name{
	font-size: 14px;
}
.comments-carousel__text{
	font-size: 14px;
	margin-top: 8px;
	font-weight: lighter;
}
.rating{
	margin-top: 8px;
	color: #fac817;
}

/* -------future-------- */

.future{
	background-color: #f5f5f5;
}
.future__inner{
	max-width: 1200px;
	margin:0 auto;
	overflow: hidden;
	text-align: center;
	padding-bottom: 100px;
}
.future-carousel{
	margin-top: 50px;
}
.future-carousel__item{
	display: inline-block;
	text-align: left;
	margin: 0 15px;
	outline: none;
}
.future-carousel__img{
	width: 100%;
	height: 200px;
	border-radius: 5px;
	overflow: hidden;
}
.future-carousel__img img{
	width: 100%;
	height: auto;
}
.future-carousel__title{
	margin-top: 20px;
	font-size: 18px;
}
.future-carousel__text{
	margin-top: 20px;
	font-size: 14px;
}
.future-carousel__date{
	font-size: 10px;
	margin-top: 10px;
	color: #b2b2b2;
}
/* -----footer----- */
footer{
	background-color: #323232;
}
.footer__inner{
	max-width: 1200px;
	margin:0 auto;
	overflow: hidden;
	padding: 55px 5px 0;
}
.footer__logo{
	display: inline-block;
}
.footer__logo a{
	color: white;
	text-decoration: none;
}
.footer__logo span{
	color: #424242;
	font-size: 10px;
}
.footer__list{
	list-style: none;
	display: inline-block;
	margin: 0 90px;
	vertical-align: top;

}
.footer__item{
	margin-bottom: 20px;
	color: #aa8c67;
	font-size: 12px;
}
.footer__link{
	color: white;
	text-decoration: none;
	transition: .3s;
	cursor: pointer;
}
.footer__link:hover{
	color: #aa8c67;
}




































@media screen and (max-width: 1024px){
	video{
		width: auto;
		height: 100%;
	}
	.advantages-block{
		width: 150px;
		margin: 40px 10px;
	}
	.plan-block{
		width: 225px;
		padding: 25px 20px;
		margin: 60px 5px 0;
	}
	.footer__list{
		margin: 0 60px;
	}
}

 @media screen and (max-width: 768px){
 	.header-top{
		padding: 0 30px;
	}
	.header-bottom__button{
		padding: 0 35px;
	}
	.header-bottom__input{
		width: 300px;
	}
	.nav__list{
		display: none;
	}
	.header__logo{
		margin-left: 30px;
	}
	.burger-menu{
		display: inline-block;
	}
	.footer__list{
		margin: 0 20px;
	}
} 
 
@media screen and (max-width: 480px){
	.header__logo{
		margin-left: 10px;
	}
	.header-top__button{
		display: none;
	}
	.header-bottom__title{
		margin-top: 30px;
	}
	.header-bottom__input{
		width: 220px;
		margin-top: 30px;
	}
	.header-bottom__button{
		padding: 0 30px;
	}
	.header-bottom__button-lg{
		display: none;
		margin-top: 30px;
	}
	.header-bottom__button-sm{
		display: inline-block;
		vertical-align: bottom;
		position: relative;
	}
	.header-bottom__button-sm:before{
		content:"";
		display: block;
		width: 15px;
		height: 15px;
		border-top: 2px solid white;
		border-right: 2px solid white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-65%, -45%) rotate(45deg) ;

	}
	.advantages{
		padding: 0 10px;
	}
	.advantages-block{
		display: block;
		width: 100%;
		padding: 0 10px;
		margin: 40px 10px;
	}
	.advantages-block__text{
		display: inline-block;
		width: 50%;
		margin-left: 20px;
		text-align: left;
	}
	.advantages h3{
		margin-top: 20px;
	}
	.advantages-block__img{
		background-image: url();
		width: 100px;
		height: 100px;
		line-height: 100px;
	}
	.plan-block{
		width: 90%;		
		height: 150px;
		padding: 15px 10px;
	}
	.plan-block__text{
		display: inline-block;
		width: 50%;
		margin-left: 10px;
		text-align: left;
		vertical-align: top;
	}
	.plan-block__text h3{
		margin-top: 20px;
		font-size: 16px;
	}
	.plan-block__text p{
		margin-top: 10px;
		font-size: 12px;
	}
	.plan-block img{
		width: 80px;
		top:20px;
	}
	.footer__inner{
		text-align: center;
		padding: 15px;
	}
	.footer__list{
		display: none;
	}
	
}
@media screen and (max-width: 320px){
	.header-top__button{
		display: none;
	}

}