*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.block-title{
	margin-top: 70px;
}
/* header start */
.header{
	position: relative;
	height: 100vh;
	min-height: 500px;
	overflow: hidden;
}
/* ----------mobile-navigation--------------- */
.burger-menu{
	width: 20px;
	height: 20px;
	display: none;
	cursor: pointer;
}
.mobile-nav{
	width: 240px;
	height: 100vh;
	min-height: 400px;
	position: absolute;
	top:0;
	left:-240px;
	background-color: #323232;
	transition: 1s;
	padding: 25px 20px;
	overflow: hidden;
}
.cancel{
	float: right;
	width: 20px;
	height: 20px;
}
.mobile-nav__list{
	margin-bottom: 25px;
	list-style: none;
}
.mobile-nav__list:last-child .mobile-nav__link, .mobile-nav__list:nth-child(4) .mobile-nav__link{
	color: #4d4d4d;
}
.mobile-nav__item{
	margin: 5px 0;	
}
.mobile-nav__link{
	text-decoration: none;
	font-size: 12px;	
	transition: .3s;
	color: white;
}
.mobile-nav__link:hover{
	color: #aa8c67;
}
/* --------header-top---------- */
.header-top{
	max-width: 1200px;
	margin:0 auto;
	height: 110px;
	line-height: 110px;
	border-bottom: 1px solid rgba(255,255,255,.5);
	z-index: 2;
	overflow: hidden;
}
.header__logo{
	color: white;
	font-size: 26px;
	font-weight: normal;
	cursor: pointer;
}
nav{
	float: right;
	display: inline-block;
}
.nav__list{
	list-style: none;
}
.nav__item{
	display: inline-block;

}
.nav__link{
	text-decoration: none;
	color: white;
	margin: 0 12px;
	font-size: 12px;
	transition: .3s;
	cursor: pointer;
}
.nav__link:hover{
	color: #aa8c67;
}
.header-top__button{
	float: right;
	padding: 13px 25px;
	color: white;
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: #7dac3f;
	cursor: pointer;
	transition: .3s;
	margin-top: 30px;
	margin-left: 40px;

}
button:hover{
	background-color: #aa8c67;
}
.video__container{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left:0;
	overflow: hidden;
	z-index: -1;
	text-align: center;
}
video{
	width: 100%;
	height: auto;
	z-index: -1;
}
.video__line{
	width: 100%;
	height: 30px;
	background-color: white;
	position: absolute;
	bottom: 0;
}

/* ---------------header-bottom---------------------- */
.header-bottom{
	text-align: center;
	color: white;
	padding: 0 10px;
}
.header-bottom__title{	
	font-weight: lighter;
	margin-top: 135px;
}
.header-bottom__text{
	font-weight: light;
	font-size: 14px;
	margin-top: 30px;
}
.header-bottom__input{
	outline: none;
	height: 55px;
	width: 400px;
	padding: 0 45px;
	margin-top: 70px;
	text-align: left;
	border: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px; 
}
.header-bottom__button{
	background-color: #aa8c67;
	height: 55px;
	padding: 0 65px;
	margin-top: 70px;
	border: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px; 
	transition: .3s;
	color: white;
	outline: none;
	margin-left: -5px;
	cursor: pointer;
	transition: .3s;
}
.header-bottom__button:hover{
	background-color: #7dac3f;
}
.header-bottom__button-sm{
	display: none;
}
/* ----advantages---- */
.advantages{
	max-width: 1200px;
	margin:0 auto;
	overflow: hidden;
	text-align: center;
}
.advantages__block{
	display: inline-block;
	margin: 120px 40px 80px;
	padding: 5px;
	width: 250px;
	vertical-align: top;
}
.advantages__block img{
	width: 60px;
}
.advantages__block h3{
	margin-top: 75px;
	font-style: 18px;
}
.advantages__block p{
	margin-top: 20px;
	color: #6e6e6e;
	font-size: 14px;
}









































@media screen and (max-width: 1024px){
	video{
		width: auto;
		height: 100%;
	}
	.advantages__block{
		width: 150px;
		margin: 80px 10px 80px;
	}
}

 @media screen and (max-width: 770px){
 	.header-top{
		padding: 0 30px;
	}
	.header-bottom__button{
		padding: 0 35px;
	}
	.header-bottom__input{
		width: 300px;
	}
	.nav__list{
		display: none;
	}
	.header__logo{
		margin-left: 30px;
	}
	.burger-menu{
		display: inline-block;
	}
} 
 
@media screen and (max-width: 480px){
	.header__logo{
		margin-left: 10px;
	}
	.header-top__button{
		margin-top: 40px;
		margin-left: 0;
		padding: 8px 5px;
	}
	.header-bottom__title{
		margin-top: 30px;
	}
	.header-bottom__input{
		width: 220px;
		margin-top: 30px;
	}
	.header-bottom__button{
		padding: 0 30px;
	}
	.header-bottom__button-lg{
		display: none;
		margin-top: 30px;
	}
	.header-bottom__button-sm{
		display: inline-block;
		margin-top: 30px;
	}
}
@media screen and (max-width: 320px){
	.header-top__button{
		display: none;
	}
}