$overlay: rgba(19,92,163,.82);
$blue-color: rgb(0,161,235);
$text-color: rgb(115,115,115);
$montserrat: 'Montserrat', 'Arial', sans-serif;
$hind: 'Hind', 'Arial', sans-serif;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-size: 14px;
	font-family: $hind;
	color: $text-color;
}
h2,h3,h4,h5,h6{
	font-family: $montserrat;
	font-weight: bold;
	text-transform: uppercase;
}

@keyframes tube {
  from {
    border: 5px solid white; }
  20% {
    border: 8px solid $blue-color; }
  40% {
    border: 11px solid $blue-color; }
  60% {
    border: 13px solid $blue-color; }
  80% {
    border: 15px solid $blue-color; }
  to {
    border: 17px solid white; } };

/* loader */
.loader{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	background-color: white;	
	overflow: hidden;
}
.circle{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	border: 5px solid white;
	border-radius: 50%;
	animation: tube 1s infinite linear;
	transform: translate(-50%,-50%);
}

/* header */
.header{
	position: relative;
	max-width: 1920px;
	height: 100vh;
	min-height: 400px;
	max-height: 1080px;
	margin: 0 auto;
	color: white;
	background-image: url(img/header-bgc.jpg); 
	background-size: cover;
}
.header__top{
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 15px 0;
}
.logo{
	padding-bottom: 5px;
	font-size: 25px;
	font-family: $montserrat;
	text-transform: uppercase;
	color: white;
	border-bottom: 1px solid transparent;
	&:hover{
		text-decoration: none;
		color: white;
		border-color: white;
	}
}
.logo-bold{
	font-weight: 700;
}
.logo-light{
	font-weight: 200;
}
.navigation{
	float: right;
}
.navigation__list{
	font-family: $montserrat;
	list-style: none;
}
.navigation__item{
	display: inline-block;
}
.navigation__link{
	margin-left: 19px;
	padding-bottom: 5px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	border-bottom: 1px solid transparent;
	&:hover{
		text-decoration: none;
		color: white;
		border-color: white;
	}
}
.btn{
	position: relative;
	display: inline-block;
	padding: 15px 18px;
	font-weight: bold;
	line-height: 15px;
	text-transform: uppercase;
	color: white;
	background-color: $blue-color;
	border: none;
	border-radius: 3px;
	&:hover{
		text-decoration: none;
	}
	&:hover::after{
		content:'';
		position: absolute;
		bottom: 7px;
		left: 50%;
		width: 75%;
		height: 1px;
		background-color: white;
		transform: translateX(-50%);
	}
}
.btn-reverse{
	color: $blue-color;
	background-color: white;
	&:hover::after{
		background-color: $blue-color;
	}
}
.navigation__tel{
	margin-left: 11px;
	padding: 12px 7px;
	&:hover{
		text-decoration: none;
		color: white;
	}
}
.header__bottom{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.header__title{
	margin-top: 190px;
	font-size: 79px;
	font-family: $montserrat;
	text-align: center;
	letter-spacing: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
.header__text{
	margin-top: 6px;
	font-size: 22px;
	font-family: $montserrat;
	text-align: center;
	letter-spacing: 3.5px;
	font-weight: bold;
}
/* main */
.about{
	max-width: 1200px;
	margin: 0 auto;
	padding: 130px 15px 100px;
}
.about__title{
	position: relative;
	display: inline-block;
	font-size: 34px;
	color: $blue-color;
	&::after{
		content:'';
		position: absolute;
		bottom: -20px;
		left: 0;
		width: 80%;
		height: 1px;
		background-color: $text-color;
	}
}
.about__text{
	margin-top: 35px;
}
.about__tel{
	display: block;
	margin-top: 20px;
	font-size: 22px;
	font-family: $montserrat;
	font-weight: bold;
	color: $blue-color;
}
.about__btn{
	margin-top: 27px;
}
.about__photo{
	position: relative;
	&::after{
		content:'nasz sklep';
		position: absolute;
		right: 40px;
		bottom: 25px;
		font-size: 22px;
		font-family: $montserrat;
		font-weight: bold;
		text-transform: uppercase;
		color: white;
	}
}
.about__photo img{
	width: 100%;
	height: auto;
}
/* assortment */
.assortment{
	max-width: 1920px;
	margin: 0 auto;
	background-image: url(img/pattern.png);
}
.assortment__inner{
	max-width: 1200px;
	margin: 0 auto;
	padding: 80px 15px 90px;
}
.assortment__title{
	position: relative;
	left: 50%;
	display: inline-block;
	font-size: 34px;
	text-align: center;
	color: $blue-color;
	transform: translateX(-50%);
	&::after{
		content:'';
		position: absolute;
		bottom: -25px;
		left: 50%;
		display: block;
		width: 25%;
		height: 1px;
		background-color: $text-color;
		transform: translateX(-50%);
	}
}
.assortment__text{
	width: 50%;
	margin: 35px auto 0;
	text-align: center;
}
.assortment__slider{
	margin-top: 50px;
}
.assortment__product{
	position: relative;
	margin: 0 15px;
	outline: none;
	overflow: hidden;
}
.product__link{
	position: relative;
	display: block;
	height: 270px;
	cursor: pointer;
	&:hover{
		text-decoration: none;
	}
	&:hover .product__button{
		display: inline-block;
	}
	&::after{
		content:'';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $overlay;
	
	}
}
.product__image{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
.product__description{
	position: relative;
	top: 50%;
	z-index: 9;
	text-align: center;
	transform: translateY(-50%);
}
.product__title{
	font-size: 20px;
	font-weight: bold;
	color: white;
}
.product__price{
	font-style: 24px;
	font-family: $montserrat;
	text-transform: uppercase;
	color: white;
}
.product__button{
	display: none;
}
.assortment__button{
	left: 50%;
	margin-top: 60px;
	transform: translateX(-50%);
}
/* advantages */
.advantages{
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 15px 100px;
}
.advantage{
	text-align: center;
}
.advantage__img{
	width: 176px;
	height: 176px;
	margin: 0 auto;
	background-position: top right;
	overflow: hidden;
	cursor: pointer;
	&:hover{
		background-position: top left;
	}
}
.advantage__img-fish{
	background-image: url(img/sprite-fish.png);
}
.advantage__img-pan{
	background-image: url(img/sprite-pan.png);
}
.advantage__img-shrimp{
	background-image: url(img/sprite-shrimp.png);
}
.advantage__title{
	position: relative;
	display: inline-block;
	margin-top: 35px;
	font-size: 24px;
	color: $blue-color;
	&::after{
		content:'';
		position: absolute;
		bottom: -20px;
		left: 50%;
		width: 80%;
		height: 1px;
		background-color: $text-color;
		transform: translateX(-50%);
	}
}
.advantage__text{
	margin-top: 52px;
}
.advantages__button{
	left: 50%;
	margin-top: 60px;
	transform: translateX(-50%);
}
/* contacts */
.contacts{
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
}
.contacts__map{
	height: 525px;
}
.contacts__overlay{
	position: relative;
	top: 0;
	right: 0;
	z-index: 9;
	height: 525px;
	padding-right: 12%;
	text-align: right;
	background-color: $blue-color;
	&::after{
		content:'';
		position: absolute;
		bottom:0;
		left: 0;
		z-index: -1;
		width: 400px;
		height: 560px;
		background-color: $blue-color;
		transform-origin: left bottom;
		transform: rotate(-10deg);
	}
}
.contacts__title{
	position: relative;
	display: inline-block;
	margin-top: 130px;
	font-size: 34px;
	color: white;
	&::after{
		content:'';
		position: absolute;
		right: 0;
		bottom: -20px;
		width: 50%;
		height: 1px;
		background-color: white;
	}
}
.contacts__text{
	margin-top: 50px;
	color: white;
}
.contacts__button{
	margin-top: 20px;
}
/* footer */
.footer-nav{
	max-width: 1200px;
	margin: 0 auto;
	padding: 55px 15px 70px;
}
.footer-nav__title{
	font-size: 21px;
}
.footer-nav__list{
	margin-top: 25px;
	list-style: none;
}
.footer-nav__item{
	margin-top: 7px;
}
.footer-nav__link{
	color: $text-color;
	&:hover{
		text-decoration: none;
		color: $blue-color;
	}
}
.copyright{
	max-width: 1920px;
	height: 120px;
	margin: 0 auto;
	background-color: rgb(43,43,43);
	overflow: hidden;
}
.copyright__inner{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	line-height: 120px;
}
.copyright__text{
	font-family: $montserrat;
	text-transform: uppercase;
	color: white;
}
.copyright__up{
	float: right;
	&:hover{
		text-decoration: none;
		color: $blue-color;
	}
}
/* arrows for slick */
.slick-prev, .slick-next{
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: 1px solid $blue-color;
	border-radius: 50%;
	transform: translateY(-50%);
	&::before{
		content:'';
		position: absolute;
		display: block;
		width: 15px;
		height: 15px;
		border-bottom: 1px solid $blue-color;	
		border-left: 1px solid $blue-color;
	}
}
.slick-prev{
	left: -35px;
	&::before{
  	top: 12px;
		left: 15px;
		transform: rotate(45deg);
	}
}
.slick-next{
	right: -35px;
	&::before{
		top: 12px;
		left: 9px;
		transform: rotate(-135deg); 	
	}
}

@media screen and (max-width: 1200px){
	.slick-prev{
		left: -15px;
		border: none;
	}
	.slick-next{
		right: -18px;
		border: none;
	}
}
@media screen and (max-width: 992px) {
	.logo{
		display: block;
		text-align: center;
		border: none;
	}
	.navigation{
		float: none;
		margin-top: 20px;
		text-align: center;
	}
	.header__title{
		font-size: 70px;
	}
	.about__btn{
		display: block;
		margin: 20px auto 40px;
	}
	.advantage__img{
		margin-top: 40px;
	}
	.contacts__title{
		margin-top: 30px;
	}
	.footer-nav{
		margin-top: 30px;
	}
	.footer-nav__title{
		font-size: 16px;
	}
	.footer-nav__list{
		margin-top: 10px;
	}
}
@media screen and (max-width: 768px) {
	.navigation__item{
		font-size: 12px;
		&:last-child{
			display: block;
			margin-top: 10px;
			margin-left: 0;
		}
	}
	.header__title{
		margin-top: 60px;
		font-size: 48px;
	}
	.header__text{
		font-size: 18px;
	}
	.contacts__map{
		height: 300px;
	}
	.contacts__overlay{
		height: auto;
		padding: 15px 0;
		text-align: center;
		&::after{
			width: 0;
			height: 0;
		}
	}
	.contacts__title{
		margin-top: 0;
	}
	.contacts__text{
		margin-top: 15px;
	}
	.contacts__button{
		margin-top: 15px; 
	}
	.footer-nav__title{
		text-align: center;
	}
	.footer-nav__list{
		text-align: center;
	}
	.footer-nav__item{
		margin-top: 5px;
	}
}
@media screen and (max-width: 480px) {
	.btn{
		font-size: 12px;
	}
	.about{
		padding: 80px 15px 50px;
	}
	.about__tel{
		text-align: center;
	}
	.about__photo::after{
		right: 20px;
		bottom: 15px;
		font-size: 14px;
	}
}

